<?php

$finder = PhpCsFixer\Finder::create()
    ->in(realpath(__DIR__ . '/src'))
    ->in(realpath(__DIR__ . '/tests'))
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([

        //--------------------------------------------------------------
        //  Rulesets
        //--------------------------------------------------------------

        '@PSR1'                     => true,
        '@PSR2'                     => true,
        '@Symfony'                  => true,
        '@Symfony:risky'            => true,
        '@PhpCsFixer'               => true,
        '@PhpCsFixer:risky'         => true,
        '@DoctrineAnnotation'       => true,
        '@PHP56Migration'           => true,
        '@PHP56Migration:risky'     => true,
        '@PHP70Migration'           => true,
        '@PHP70Migration:risky'     => true,
        '@PHP71Migration'           => true,
        '@PHP71Migration:risky'     => true,
        '@PHP73Migration'           => true,
        '@PHP74Migration'           => true,
        '@PHP74Migration:risky'     => true,
        '@PHP80Migration'           => true,
        '@PHP80Migration:risky'     => true,
        '@PHPUnit30Migration:risky' => true,
        '@PHPUnit32Migration:risky' => true,
        '@PHPUnit35Migration:risky' => true,
        '@PHPUnit43Migration:risky' => true,
        '@PHPUnit48Migration:risky' => true,
        '@PHPUnit50Migration:risky' => true,
        '@PHPUnit52Migration:risky' => true,
        '@PHPUnit54Migration:risky' => true,
        '@PHPUnit55Migration:risky' => true,
        '@PHPUnit56Migration:risky' => true,
        '@PHPUnit57Migration:risky' => true,
        '@PHPUnit60Migration:risky' => true,
        '@PHPUnit75Migration:risky' => true,
        '@PHPUnit84Migration:risky' => true,

        //--------------------------------------------------------------
        //  Rules override
        //--------------------------------------------------------------

        'binary_operator_spaces'                 => ['default' => 'align'],
        'blank_line_before_statement'            => false,
        'braces'                                 => false,
        'concat_space'                           => ['spacing' => 'one'],
        'declare_strict_types'                   => false,
        'function_typehint_space'                => false,
        'increment_style'                        => ['style' => 'post'],
        'multiline_whitespace_before_semicolons' => ['strategy' => 'no_multi_line'],
        'native_function_invocation'             => false,
        'no_extra_blank_lines'                   => true,
        'no_superfluous_phpdoc_tags'             => false,
        'operator_linebreak'                     => ['only_booleans' => true, 'position' => 'end'],
        'php_unit_internal_class'                => false,
        'phpdoc_align'                           => ['tags' => ['param', 'return', 'throws', 'type', 'var', 'method']],
        'phpdoc_annotation_without_dot'          => false,
        'phpdoc_no_alias_tag'                    => ['replacements' => ['link' => 'see', 'type' => 'var']],
        'phpdoc_to_comment'                      => false,
        'protected_to_private'                   => false,
        'return_assignment'                      => false,
        'void_return'                            => false,
        'yoda_style'                             => false,

        //--------------------------------------------------------------
        //  Extra rules
        //--------------------------------------------------------------

        'list_syntax'                                      => ['syntax' => 'short'],
        'mb_str_functions'                                 => true,
        'nullable_type_declaration_for_default_null_value' => true,
        'ordered_interfaces'                               => true,
        'phpdoc_line_span'                                 => true,
        'phpdoc_tag_casing'                                => true,
        'regular_callable_call'                            => true,
        'self_static_accessor'                             => true,
        'simplified_if_return'                             => true,
    ])
    ->setFinder($finder)
;
