// Shared variabled.
$accent-color: #c87629;
$normal-background: #fffcf8;

// Layout.
$nav-text: #fffcf8;

// Forms.
$fieldset: #e0cfc2;
$placeholder: #e0cfc2;
$widget-border: #e0cfc2;

// Buttons.
$button-background: #f5f0e6;
$button-border: #cdc3b7;
$button-text: #502f10;

$button-hover-background: #f9f6f0;
$button-hover-border: #e9be95;
$button-hover-text: #a56122;

$button-active-background: #fbf9f8;
$button-active-border: #e9be95;
$button-active-text: #c87629;

// Modal.
$modal-border: #e0cfc2 !default;

@import "../etraxis";
