<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title ?? 'eTraxis' }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" sizes="16x16 32x32 64x64">
</head>
<body>
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
